@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap');
/* font-family: 'Antonio', sans-serif;
font-family: 'League Spartan', sans-serif; */

*, *::before, *::after {
    box-sizing: border-box;
    color: white;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
    font-family: 'League Spartan', sans-serif;
    
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: rgb(0, 0, 44)
  }

  img, picture, video, canvas, svg {
    display: block;
    width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }